apiVersion: v1
kind: ConfigMap
metadata:
  name: jupyterhub-configmap
  labels:
    app: jupyterhub
    lab: "4"
data:
  jupyterhub_config.py: |
    import os

    c.JupyterHub.ip = '0.0.0.0'
    c.JupyterHub.port = 8000

    db_user = os.getenv("POSTGRES_USER")
    db_pass = os.getenv("POSTGRES_PASSWORD")
    db_name = os.getenv("POSTGRES_DB", "postgres")
    db_host = os.getenv("POSTGRES_HOST", "postgres-service")

    c.JupyterHub.db_url = f"postgresql://{db_user}:{db_pass}@{db_host}:5432/{db_name}"